<div class="login-page">
    <form class="ui form">
        <div class="field intro-field">
            <!--<img src="https://davur.dexignzone.com/xhtml/images/logo.png" />-->
            <img src="assets/logo.png" />
            <h1>Login</h1>
        </div>
        <div class="field">
            <div class="ui input left icon">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="identifiant" class="input-v1" placeholder="identifiant..."/>
                <i class="user icon"></i>
            </div>
        </div>
        <div class="field">
            <div class="ui input left icon">
                <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" class="input-v1" placeholder="mot de passe..."/>
                <i class="key icon"></i>
            </div>
        </div>
        <div class="field">
            <div class="ctn-az">
                <div class="ui checkbox">
                    <input id="remember-me-login" type="checkbox" name="example">
                    <label for="remember-me-login">Souviens de moi</label>
                </div>
                <a>mot de passe oublié ?</a>
            </div>
        </div>
        
        <div class="ui negative message mini" *ngIf="error_login" (click)="hideErrorLogin()">
            <i class="close icon"></i>
            <div class="header" style="text-align: center;">Vérifiez votre paramètres
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="field">
            <p>
                Pour vous connecter et commencer à utiliser les services,
                vous pouvez simplement entrer vos identifiants,
                vous connecter avec votre compte Google si vous êtes déjà inscrit,
                ou avec votre code d'identification,
            </p>
        </div>
        <div class="field login-field">
            <button (click)="login()" class="ui ubuntu button blue circular">Connecter</button>
        </div>
        <div class="field google-field">
            <button class="ui button circular google plus icon">
                <i class="google icon"></i>
            </button>
            <button class="ui button orange circular icon">
                <i class="qrcode icon"></i>
            </button>
        </div>
    </form>
</div>
