<div class="side-header">

  <h1>
    <span class="indic">
      <span *ngIf="action == formAction.CREATE">Création du produit</span>
      <span *ngIf="action == formAction.EDIT">Modification du produit</span>
      {{ (product == null)? '' : "#"+product.id}}
    </span>
    <i class="trash alternate icon red remove-product" (click)="remove()" *ngIf="product != null"></i>
  </h1>
  <div class="ui breadcrumb">
    <a class="section">Accueil</a>
    <div class="divider"> / </div>
    <a class="section">produit</a>
    <div class="divider"> / </div>
    <div class="active section">{{ (action == formAction.CREATE)?'Création':'Modification' }}</div>
  </div>
</div>
<div class="view">

  <input type="file" (change)="onFileChanged($event)" id="image-file-upload">

  <form autocomplete="off" class="ui form" [formGroup]="productForm.productForm" novalidate>
    <div class="field image-field">
      <div class="ctn" (click)="showImageFileUpload()">
        <img src="assets/defaultimage.png" id="current-image-product" class="ui image small circular" *ngIf="product == null || !product?.image" />
        <img src="{{product.image}}" id="current-image-product" class="ui image small circular" *ngIf="product != null && product.image" />
        
        <i class="download icon"></i>
      </div>
    </div>
    <div class="field">

      <div class="two fields">
        <div class="field">
          <label>nom du produit</label>
          <input type="text" formControlName="name" name="name" placeholder="nom du produit..." />
        </div>
        <div class="field">
          
          <label class="compose-field-label">
            <span>catégorie</span>
            <a>Crée une nouvelle catégorie</a>
          </label>
          <div class="ui fluid multiple search selection small dropdown" id="category-product-dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Catégoris</div>
            <div class="menu">
              <div #CAT_SIZE *ngFor="let cat of categorysSizes.categorys" class="item" [attr.data-value]="cat.id">{{cat.label}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="field">

      <div class="two fields">
        <div class="field">
          <label>type</label>
          <input type="text" formControlName="type" name="type" placeholder="type du produit..." />
        </div>
        <div class="field">
          <label>Taille</label>
          <div class="ui fluid multiple search selection small dropdown" id="size-product-dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Taille</div>
            <div class="menu">
              <div #CAT_SIZE *ngFor="let size of categorysSizes.sizes" class="item" [attr.data-value]="size.id">{{size.label}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="field">

      <div class="two fields">
        <div class="field">
          <label>prix</label>
          <input type="number" formControlName="price" name="price" placeholder="prix du produit..." />

        </div>
        <div class="field">
          <label>remise</label>
          <input type="number" formControlName="discount" name="discount" placeholder="remise sur le produit..." />
        </div>
      </div>

    </div>


    <div class="field">

      <div class="two fields">
        <div class="field">
          <label>En stock</label>
          <input type="number" formControlName="stock" name="stock" placeholder="total en stock..." />
        </div>
        <div class="field">
          <label>Éléments</label>
          <div class="ui fluid multiple search selection dropdown small">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">éléments</div>
            <div class="menu">
              <div class="item">Olive</div>
              <div class="item">Fromage</div>
              <div class="item">Tomate</div>
              <div class="item">...</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="field">
      <div class="field">
        <label>description</label>
        <input type="text" formControlName="description" name="description" placeholder="description..." />
      </div>
    </div>

    <div class="field">

      <div class="ui buttons">
        <button class="ui button basic blue" (click)="save(true)" [disabled]="productForm.productForm.invalid"
          *ngIf="product == null">enregistrer et nouveau</button>
        <button class="ui button blue" (click)="save()"
          [disabled]="productForm.productForm.invalid">enregistrer</button>
      </div>
    </div>


  </form>
</div>

<div class="ui basic modal on-action-modal">
  <div class="ui icon header">
  <div class="ui active big centered inline loader"></div>
  <h1>Enregistrement en cours</h1>
  </div>
</div>