<div class="side-header">

  <h1>
    <span class="indic">
      <span *ngIf="action == formAction.CREATE">Création du produit</span>
      <span *ngIf="action == formAction.EDIT">Modification du produit</span>
      {{ (product == null)? '' : "#"+product.id}}
    </span>
    <i class="trash alternate icon red remove-product" (click)="remove()" *ngIf="product != null && !make_recipe"></i>
  </h1>
  <div class="ui breadcrumb">
    <a class="section">Accueil</a>
    <div class="divider"> / </div>
    <a class="section">produit</a>
    <div class="divider"> / </div>
    <div class="active section">{{ (action == formAction.CREATE)?'Création':'Modification' }}</div>
  </div>
</div>

<a *ngIf="!make_recipe" (click)="make_recipe = true" class="recette-btn">
  <i class="mnatt attention icon" *ngIf=" product != null && product?.total_stock >= 0 && product?.total_stock < 100"></i>
  {{ (action == formAction.CREATE)?'Ajouter une reçette':'Modifier la reçette' }}
  <i class="question circle outline icon"></i>
</a>

<input type="file" (change)="onFileChanged($event)" id="image-file-upload">

<div class="view">

  <form *ngIf="!make_recipe" autocomplete="off" class="ui form" [formGroup]="productForm.productForm" novalidate>
    <div class="field image-field">
      <div class="ctn" (click)="showImageFileUpload()">
        
        <img src="{{productForm.getValue('image')|defaultProductImage}}" id="current-image-product" class="ui image small circular"/>

        <i class="download icon"></i>
      </div>
    </div>

    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>nom du produit</label>
          <input type="text" formControlName="name" id="product_name_1" name="name" placeholder="nom du produit..." />
        </div>
        <div class="field">

          <label class="compose-field-label">
            <span>catégorie</span>
            <a (click)="_$('.make-category').modal('show')">
              Crée une nouvelle catégorie
              <i class="question circle outline icon"></i>
            </a>
          </label>
          <div class="ui fluid multiple search selection small dropdown" id="category-product-dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Catégoris</div>
            <div class="menu">
              <div *ngFor="let cat of categorysSizes?.categorys" class="item" [attr.data-value]="cat.id">
                {{cat.label}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>type</label>
          <input type="text" formControlName="type" name="type" placeholder="type du produit..." />
        </div>
        <div class="field">
          <label class="compose-field-label">
            <span>Taille</span>
            <a (click)="_$('.make-size').modal('show')">
              Crée une nouvelle taille
              <i class="question circle outline icon"></i>
            </a>
          </label>
          <div class="ui fluid multiple search selection small dropdown" id="size-product-dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Taille</div>
            <div class="menu">
              <div #CAT_SIZE *ngFor="let size of categorysSizes?.sizes" class="item" [attr.data-value]="size.id">
                {{size.label}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="field">

      <div class="two fields">
        <div class="field">
          <label>prix</label>
          <input type="number" formControlName="price" name="price" placeholder="prix du produit..." />

        </div>
        <div class="field">
          <label>remise</label>
          <input type="number" formControlName="discount" name="discount" placeholder="remise sur le produit..." />
        </div>
      </div>

    </div>

    <div class="field">
      <div class="field">
        <label>description</label>
        <input type="text" formControlName="description" name="description" placeholder="description..." />
      </div>

      <label class="stock-not-found" 
      *ngIf="productForm.getValue('recipe').length == 0">En stock: aucune reçette associé</label>
    </div>

    <div class="field">

      <div class="ui buttons">
        <button class="ui button basic blue" (click)="save(true)" [disabled]="productForm.productForm.invalid"
          *ngIf="product == null">enregistrer et nouveau</button>
        <button class="ui button blue" (click)="save()"
          [disabled]="productForm.productForm.invalid">enregistrer</button>
      </div>
    </div>

  </form>

  <make-recipe 
  *ngIf="make_recipe"
  [recipe_elements]="productForm.getValue('recipe')"
  (onRecipe)="makeRecipe($event)"
  (close)="closeRecipePart()"></make-recipe>

</div>


<div class="ui basic modal on-action-modal">
  <div class="ui icon header">
    <div class="ui active big centered inline loader"></div>
    <h1>Enregistrement en cours</h1>
  </div>
</div>

<div class="ui basic modal on-enter-modal-password">
  <div class="ui icon header">
  </div>
  <div class="content">
    <div class="cred-pwd">
      <img class="ui image tiny circular" src="assets/default-user.png" />
      <span>Nom d'utilisateur</span>
      <div class="ui input left icon">
        <input type="password" placeholder="password..." [ngModelOptions]="{standalone: true}"
          [(ngModel)]="PASSWORD_PASS" />
        <i class="key icon"></i>
      </div>
      <button class="ui blue button" (click)="credentialVerif()">continue</button>
    </div>
  </div>
</div>



<div class="ui tiny modal make-category">
  <div class="header">Création d'une catégorie
    <a>voir tout</a>
  </div>
  <div class="content">
    <small><b>minimum 4 lettres</b></small>
    <div class="ui input cat-a">
      <input type="text" placeholder="catégorie" #CATEGORY_ADD_FIELD/>
    </div>
    <label *ngIf="productForm.existCategory" class="val-exist">Cette catégorie existe déja</label>
  </div>
  <div class="actions">
    <button class="ui button blue" (click)="saveCategory()" [disabled]="productForm.cantSaveNewCategory">enregistrer</button>
  </div>
</div>


<div class="ui tiny modal make-size">
  <div class="header">Création d'une taille
    <a>voir tout</a>
  </div>
  <div class="content">
    <small><b>minimum 4 lettres</b></small>
    <div class="ui input cat-a">
      <input type="text" placeholder="taille" #SIZE_ADD_FIELD/>
    </div>
    
    <label *ngIf="productForm.existSize" class="val-exist">Cette taille existe déja</label>
  </div>
  <div class="actions">
    <button (click)="saveSize()" [disabled]="productForm.cantSaveNewSize" class="ui button blue">enregistrer</button>
  </div>
</div>