.view{
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    height: 100%;
}
input[type=text],input[type=number]{
    border-radius: 10px !important;
    background: #e0e1e2 !important;
    border: none !important;
    font-weight: 600;
    box-shadow: 0px 0.5px 5px #eeeaeaeb !important;

    &::placeholder{
        color: #b0b0b1;
    }
}
input[type=file]{
    display: none;
}
.download{
    cursor: pointer;
}
.dropdown{
    box-shadow: 0px 0.5px 5px #eeeaeaeb !important;
    background: #e0e1e2 !important;
    border-radius: 10px !important;
    border: none !important;
    font-weight: 600;
    height: 1rem !important;
    
    .default{
        color: #b0b0b1 !important;
    }
}
.image-field{
    display: flex;
    justify-content: center;
    align-items: center;
    .ctn{
        width: 8rem;
        height: 8rem;
        position: relative;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: x-large;
            color: white;
            display: none;
        }
        &:hover{
            i{
                display: block;
            }
            img{
                transform: scale(1.02);
                filter: brightness(0.7) drop-shadow(2px 4px 5px #d9d5d5eb);
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
        cursor: pointer;
        filter: drop-shadow(2px 4px 5px #d9d5d5eb);
        transition: all 0.2s;
        object-fit: fill;
    }
}

.side-header{
    position: absolute;
    z-index: 1;
    
    h1{
        margin-bottom: 0;
        display: flow-root;
    }
}

.remove-product{
    cursor: pointer;
    transition: all 0.2s;
    &:hover{
        transform: scale(1.06);
        
    }
}
.stock-not-found{
    text-align: end;
    color: #c3470e !important;
    font-weight: 600;
}

@media screen and (max-width: 767px){
    .view{
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 100vh;
        padding-bottom: 11.5rem;
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        &::-webkit-scrollbar {display: none;}
        scrollbar-width: none;

    }
}

@media screen and (max-width: 630px){
    .side-header{
        top: 0;
        left: 5px;
    }
}

@media screen and( max-width: 1130px) and (min-width: 495px){
    .ctn{
        width: 6rem !important;
        height: 6rem !important;
        margin-top: 6%;
    }
}
@media screen and( max-width: 495px){
    .view{
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 100vh;
        padding-bottom: 11.5rem;
        margin-top: 12%;
        padding-left: 20px;
        padding-right: 20px;
        &::-webkit-scrollbar {display: none;}
    }
    .side-header{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 1.8rem;
            .indic{
                font-size: 1.4rem;
            }
        }
    }
}
.compose-field-label{
    font-weight: 600;
    a{
        float: right;
        cursor: pointer;
        font-size: small;
        
    }
}
.cred-pwd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span{
        font-weight: 600;
        margin-bottom: 2%;    
    }
    .input{
        margin-bottom: 1%;
    }
}
.shape{
    width: 100%;
}
.recette-btn{
    float: right;
    font-weight: 600;
    padding: 1px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 2px;
    z-index: 2;
    transition: all 0.2s;
    &:hover{
        background: #4183c4;
        color: white;
        border-radius: 5px;
        padding-left: 6px;
        box-shadow: 1px 1px 2px #c8c1c1;
    }
}