<div class="view">
    <h3> 
        <a class="ui empty circular blue label"></a>
        Reçette
        <i class="reply icon" (click)="closeRecipe(false)"></i>
    </h3>

    <h1 *ngIf="recipe_elements == null || recipe_elements.length == 0" class="welc">Cliquez pour ajouter des composants</h1>
    <div class="flexy">
        <div class="f-form">
            <div class="scroller" #SCROLLER>
            <form class="ui form">

                <div class="field" *ngFor="let i of recipe_elements">
                    <div class="two fields ffl">

                        <div class="field">
                            <label>Élément
                                <a class="error-stock-56" *ngIf="errorStock(i.id)">stock insuffisant
                                    <i class="attention icon disl"></i>
                                </a>
                            </label>
                            <div [ngClass]="{'error-stock': errorStock(i.id)}" class="ui fluid selection dropdown recipe-dropdown" [attr.in]="i?.ingredient?.id+':'+i?.id">
                                <input type="hidden" name="user">
                                <i class="dropdown icon"></i>
                                <div class="default text">élément</div>
                                <div class="menu">
                                <div *ngFor="let e of elementsSource" class="item" [attr.data-value]="e.id+':'+i.id">
                                    <img class="e-img" src="{{e?.image | defaultProductImage}}">
                                    {{e.name}}
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Qt. gramme</label>
                            <div class="exts">
                                <input placeholder="0 grammes" type="number" value="{{(i.grammes>0)?i.grammes:''}}" (keydown)="validate($event)" (keyup)="setGramme($event, i.id)"/>
                                    <i class="trash alternate outline red icon" (click)="removeElement(i.id)"></i>
        
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                </div>
            </form>
        </div>
        </div>

        <div class="acts">
            <button [disabled]="recipe_elements.length == elementsSource.length" class="ui button orange icon circular add-new" (click)="addNew()"><i class="plus icon"></i></button>
            <div class="">
                <button class="ui button" (click)="annuler()">annuler</button>
                <button class="ui button blue go-back" (click)="closeRecipe()">confirmer</button>
            </div>
        </div>

    </div>



</div>