<div class="ctn">
  <div class="construction">
    <div class="header">
      <div class="const">
        <h1>Construction</h1>
        <div class="ui breadcrumb">
          <a class="section">Accueil</a>
          <div class="divider"> / </div>
          <a class="section">Personnalisé</a>
          <ng-container *ngIf="productType">
            <div class="divider"> / </div>
            <a class="section">{{productType.name}}</a>
            <div class="divider"> / </div>
            <div class="active section">construction</div>
          </ng-container>
        </div>
      </div>
      <div class="convert-price">
        <h1 class="price">{{ price }}DT</h1>
        <button class="ui button icon circular orange show-side-bottom-bar" (click)="showBottomSideBar()">
            <i class="bars icon"></i>
        </button>
      </div>

    </div>
    <div class="content list" [ngClass]="{'list-395': product.length>0}" cdkDropList #ELEMENTS="cdkDropList" [cdkDropListData]="product"
      [cdkDropListConnectedTo]="['ELEMENTS-FOOD-CONSTRUCTOR','ELEMENTS-FOOD-CONSTRUCTOR-2']" (cdkDropListDropped)="onDrop($event)">
      <div *ngIf="product.length>0 || countConfirmedItems() >0" class="count">

        <div *ngIf="product.length>0">
          <i class="shopping orange basket icon"></i>
          <span>{{product.length}} élément<span *ngIf="product.length > 1">s</span> en {{productType.name}}</span>
        </div>

        <div title="facturer" class="cart-invoice" *ngIf="countConfirmedItems() > 0" (click)="cartInvoice()" >
          <i class="shopping cart orange icon"></i>
          <span>{{countConfirmedItems()}} produit<span *ngIf="countConfirmedItems() > 1">s</span></span>
        </div>
        
      </div>
      <div class="elements">
        
        <div class="ctn-e" [ngClass]="{'ctn-e16':product.length>0}">
            <div *ngFor="let i of product" class="element-item" cdkDrag>
            <a class="ui label blue circular" title="{{i.name}}">{{ i.name }}</a>
            <a class="ui label circular gramme">Gramme</a>
            <input #GRAMMAGES (keydown)="controlLength(i.id, $event)" (keyup)="setPrice(i.id, $event)" type="number" [value]="i.gramme" placeholder="gramme..." />
            <img class="item-img" src="{{ i?.image|defaultProductImage }}" />
            
            </div>
        </div>
      </div>
      
      <div  class="content-product" [ngClass]="{'go-side-900':product.length>0}" cdkDropList id="CONSTRUCTOR-FOOD"
        [cdkDropListConnectedTo]="['ELEMENTS-FOOD-CONSTRUCTOR']" [cdkDropListData]="product"
        (cdkDropListDropped)="onDrop($event)">
        <h1 *ngIf="!productType && !productEmptyList && !elementsEmptyList" class="select-product-type">Choisissez un produit</h1>
        <h1 *ngIf="productEmptyList" class="select-product-type">Aucun produit trouvé</h1>
        <h1 *ngIf="elementsEmptyList && !productEmptyList" class="select-product-type">Aucun élément trouvé</h1>
        <img *ngIf="productType && !elementsEmptyList" [ngClass]="{ beside: isDragged }" class="product-image" src="{{productType?.image|defaultProductImage}}" />
        
      </div>
    </div>
    <div class="actions">
      <button class="ui big add-product-final button" (click)="rejectProduct(true)">Annuler</button>
      <button  [disabled]="product.length == 0" class="ui blue big button add-product-final" (click)="confirmProduct()">Confirmer</button>
    </div>
  </div>
</div>








<div class="ui modal construction-continue-modal">
  <i class="close icon"></i>
  <div class="header hyuz">
    <div>
      <i class="shopping cart icon"></i>
      <span>{{countConfirmedItems()}} produit<span *ngIf="countConfirmedItems() > 1">s</span></span>
    </div>
    <span>{{product_ordered_list[ product_ordered_list.length - 1 ]?.final_price}} DT</span>
    
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="{{ productType?.image|defaultProductImage }}" />
    </div>
    <div class="description">
      
      <table class="ui striped very mini compact table" 
      *ngIf="product_ordered_list.length > 0 && productType">
        <tr class="center aligned">
          <th>Élément</th>
          <th>Grammes</th>
          <th>Prix/gramme</th>
          <th>Prix</th>
        </tr>
        <tr  class="center aligned" *ngFor="let e of product_ordered_list[ product_ordered_list.length - 1 ].customRecipes">
          <td>{{e.ingredient.name}}</td>
          <td>{{e.grammes}}g</td>
          <td>{{e.gramme_price}} DT</td>
          <td>{{ parseForPrintGrammePrice( e.gramme_price , e.grammes )}} DT</td>
        </tr>
      </table>

    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button" (click)="addAndNew()">
      Confirmer et nouveau
    </div>
    <div class="ui positive right labeled icon button" (click)="cartInvoice()">
      Facturer le panier
      <i class="file alternate outline icon"></i>
    </div>
  </div>
</div>

<!--Facturation-->

<div class="ui large modal construction-facturation-modal">
  <div class="header hyuz">

    <span>Facturation <span class="invoice-date">{{getInvoiceDate()}}</span></span>
    <span>{{calcFinalPrice()}}DT</span>
    
  </div>

    <div class="content loskzej">
      
      <table class="facture-table ui structured striped very compact small table" *ngFor="let item of product_ordered_list">
        <tr class="jalo">
          <th colspan="4">
            <div class="facture-header">
            <span>{{item?.customRecipes[0]?.product?.name}}</span>
            
              <input placeholder="remise: 0%" type="number" (keyup)="discountInvoice(item, $event)"/>
        
          </div>
          </th>
        </tr>
        <tr class="center aligned">
          <th>Élément</th>
          <th>Grammes</th>
          <th>Prix/gramme</th>
          <th>Prix</th>
        </tr>
        <tr  class="center aligned" *ngFor="let e of item.customRecipes">
          <td>{{e.ingredient.name}}</td>
          <td>{{e.grammes}}g</td>
          <td>{{e.gramme_price}} DT</td>
          <td>{{ parseForPrintGrammePrice( e.gramme_price , e.grammes )}} DT</td>
        </tr>
        <tr>
          <td colspan="4" class="price-row-invoice" [ngClass]="{'danger-td': item?.final_price<0}">
            
            <b *ngIf="item?.final_price == 0">Gratuit</b>
            <b *ngIf="item?.final_price != 0">{{item?.final_price}}DT</b>
          </td>
        </tr>
      </table>

    </div>
    
  <div class="actions azht85">
    <div class="ui input">
      <input type="text" placeholder="description..."/>
    </div>

    <button class="ui button blue big" (click)="createInvoice()">Facturer</button>
  </div>
</div>
