<div class="side-header">
        
    <h1>
        
        <span class="indic">
            <span *ngIf="action == formAction.CREATE">Création d'élément</span>
            <span *ngIf="action == formAction.EDIT">Modification d'élément</span>
            {{ (element == null)? '' : "#"+element.id}}
        </span>

        <i class="trash alternate icon red remove-product" (click)="remove()" *ngIf="element != null && !make_recipe"></i>
    </h1>
    <div class="ui breadcrumb">
        <a class="section">Accueil</a>
        <div class="divider"> / </div>
        <a class="section">élément</a>
        <div class="divider"> / </div>
        <div class="active section">{{ (action == formAction.CREATE)?'création':'modification' }}</div>
      </div>
</div>

<a *ngIf="!make_recipe" (click)="make_recipe = true" class="recette-btn">
    {{ (action == formAction.CREATE)?'Ajouter une reçette':'Modifier la reçette' }}
    <i class="question circle outline icon"></i>
</a>

<div class="view">
    <input type="file" (change)="onFileChanged($event)" id="image-file-upload-1">

    <form *ngIf="!make_recipe" autocomplete="off" class="ui form"  [formGroup]="elementForm.elementForm" novalidate>
        <div class="field image-field">
            <div class="ctn" (click)="showImageFileUpload()">
                <img src="{{elementForm.getValue('image')|defaultProductImage}}" id="current-image-element" class="ui image small circular"/>
                <i class="download icon"></i>
            </div>
        </div>
        <div class="field">

            <div class="two fields">
                <div class="field">
                    <label>Nom d'élément</label>
                    <input type="text" formControlName="name" name="name" placeholder="nom d'element..."/>
                </div>
                <div class="field">
                    <label class="compose-field-label">
                        <span>catégorie</span>
                        <a>
                            Crée une nouvelle catégorie
                            <i class="question circle outline icon"></i>
                        </a>
                      </label>

                    <div class="ui small fluid multiple search selection dropdown" id="categoryelement-product-dropdown">
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">Catégorie</div>
                        <div class="menu">
                            <div *ngFor="let cat of categorys" class="item" [attr.data-value]="cat.id">{{cat.label}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="field">

            <div class="two fields">
                <div class="field">
                    <label>Prix d'achat/Kg</label>
                    <input type="number" formControlName="kg_buy_price" name="kg_buy_price" placeholder="prix d'achat..."/>
                </div>
                <div class="field">
                    <label>Prix par Kg</label>
                    <input type="number" formControlName="kg_price" name="kg_price" placeholder="prix du kg..."/>
                </div>
            </div>

        </div>


      

        <div class="field">

            <div class="two fields">
                <div class="field">
                    <label>Description</label>
                    <input type="text" formControlName="description" name="description" placeholder="description d'element ..."/>
                </div>
                <div class="field">
                    <label>Kg stocké</label>
                    <input type="number" formControlName="available" name="available" placeholder="Kg en stock..."/>
                </div>
            </div>

        <label class="stock-not-found">En stock: aucune reçette associé</label>
        </div>


      
        

        

        <div class="field">

        <div class="ui buttons">
            <button class="ui button basic blue" (click)="save(true)" [disabled]="elementForm.elementForm.invalid" *ngIf="element == null">enregistrer et nouveau</button>
            <button class="ui button blue" (click)="save()" [disabled]="elementForm.elementForm.invalid">enregistrer</button>
        </div>
        </div>


    </form>

    <make-recipe *ngIf="make_recipe" (close)="closeRecipePart()"></make-recipe>

    
</div>

<div class="ui basic modal on-action-modal">
    <div class="ui icon header">
    <div class="ui active big centered inline loader"></div>
    <h1>Enregistrement en cours</h1>
    </div>
  </div>

  <div class="ui basic modal on-enter-modal-password-e">
    <div class="ui icon header">
    </div>
    <div class="content">
      <div class="cred-pwd">
          <img class="ui image tiny circular" src="assets/default-user.png" />
          <span>Nom d'utilisateur</span>
          <div class="ui input left icon">
            <input type="password" placeholder="password..." [ngModelOptions]="{standalone: true}" [(ngModel)]="PASSWORD_PASS"/>
            <i class="key icon"></i>
          </div>
          <button class="ui blue button" (click)="credentialVerif()">continue</button>
      </div>
    </div>
  </div>