.menu {
  height: 100%;
}

.icon {
  font-size: large;
}

.element {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background: #2f3b58;
  border-radius: 5px;
  box-shadow: -1px 0px 5px 0px #2e323f !important;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.150s;
  cursor: pointer;
  color: white;
  img {
    width: 2rem !important;
  }
}

.my-menu {
  height: 100%;
  padding-top: 0.2rem;
  width: 13rem !important;
}

.item {
  font-weight: 600 !important;
}

.logo-item-ctn {
  &:hover {
    background: unset !important;
    cursor: unset !important;

    .logo-item {
      background: unset !important;
      cursor: unset !important;
    }
  }
}

.logo-item {
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  .logo {
    width: 4rem !important;
    filter: invert(1) drop-shadow(0px 0.5px 1.5px white);
  }
}


.list{
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 90%;
  padding-bottom: 2.5rem;
  &::-webkit-scrollbar{ display: none;}
  scrollbar-width: none;

}
